@page
@model RecruitCatjoshibj.Pages.Team_members.jacobModel
@{
}

<html lang="en">
<head>
    <title>First</title>
    <meta charset="UTF-8">
    <style>
        th, td {
            border: 1px solid maroon;
            padding: 5px;
        }

        table {
            border-collapse: collapse;
        }
    </style>
</head>
<body>
    <h1>JACOB JOSEPH</h1>
    <img width='200' height='250' alt="Jacob Joseph" src=C:\Users\Hpc\Documents\GitHub\IS7012\Week1>

    <table>
        <tr>
            <th>NAME</th>
            <th>NATIONALITY</th>
            <th>SEX</th>
            <th>UNIVERSITY</th>
            <th>COLLEGE</th>
            <th>COURSE</th>
            <th>PART-TIME WORK</th>
        </tr>
        <tr>
            <td>Jacob Joseph</td>
            <td>INDIAN</td>
            <td>Male</td>
            <td>UC(<span style="color:red;">U</span>N<span style="color:red;">I</span>V<span style="color:red;">E</span>R<span style="color:red;">S</span>I<span style="color:red;">T</span>Y O<span style="color:red;">F</span> C<span style="color:red;">I</span>N<span style="color:red;">C</span>I<span style="color:red;">N</span>N<span style="color:red;">A</span>T<span style="color:red;">I</span>)</td>
            <td>Linder College of Business</td>
            <td>MSIS</td>
            <td>TA With Doctor Ko</td>
        </tr>
    </table>
    <p>Given my 5 year experience in the domain of integration, I realized that a formal education is imperative for my career growth and I was confident that pursuing <b>MS-IS</b> from <b>University of Cincinnati</b> will help me accomplish this. The multi-disciplinary curriculum with courses such as <em>Information and Technology Management</em> and <em>Marketing Foundations</em> will help me further polish my managerial abilities. University of Cincinnati grants me an ideal opportunity in honing my skills and boosts my career as a Technology Consultant specializing in Enterprise System Integration Domain. In the years to come, I see myself fulfilling my long-cherished dream of starting my own Consultancy firm.</p>
    <table>
        <tr>
            <th>TIME\DAY</th>
            <th>MON</th>
            <th>TUE</th>
            <th>WEN</th>
            <th>THR</th>
            <th>FRI</th>
            <th>SAT</th>
        </tr>
        <tr>
            <td>9:00AM - 12:00 PM</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>BANA 6037 - 001 Lecture 9:00AM - 12:50PM Carl H. Lindner Hall 0070</td>
        </tr>
        <tr>
            <td>12:00PM - 01:30 PM</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>BA 7077 - 001 Lecture 12:20PM - 1:15PM Carl H. Lindner Hall 1410</td>
            <td></td>
        </tr>
        <tr>
            <td>6:00PM - 09:30 PM</td>
            <td>IS 7020 - 001 Lecture 6:00PM - 9:50PM Carl H. Lindner Hall 4230</td>
            <td>IS 7011 - 001 Lecture 6:00PM - 9:50PM Carl H. Lindner</td>
            <td>IS 7030 - 001 Lecture 6:00PM - 9:50PM Carl H. Lindner Hall 3265</td>
            <td>IS 7012 - 002 Lecture 6:00PM - 9:50PM Carl H. Lindner Hall 3220</td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <h3>STRENGTHS &#128170;</h3>
    <p>
        <ul>
            <li>Time Management</li>
            <li>Team Player</li>
        </ul>
        <h3>Hobbies</h3>
        <h4>Reading</h4>
        <img width='500' height='250' alt="Hobby1" src=https://i.pinimg.com/originals/de/9d/c8/de9dc8217739ac5267af48ddb4146a23.jpg>
        <h4>Glass painting</h4>
        <img width='250' height='300' alt="Hobby1" src=https://i.etsystatic.com/24154360/r/il/df2123/3102186417/il_fullxfull.3102186417_3vur.jpg>
        <h3>Interest</h3>
        <h4>Mythology</h4>
        Click &#128073; <a href="https://mythology.net/">Mythology</a>
        <h4>Football</h4>
        Click &#128073; <a href="https://www.premierleague.com/">Football</a>
</body>
</html> 