@page
@model project_bhawesh.Pages.DiceRollerModel
@{ int randomNumber = new Random().Next(1, 7);
    int winNumber = new Random().Next(1, 7);
    int winningNumber = winNumber;
    int difference = Math.Abs(winningNumber - randomNumber); }
<html>
    <head>
    </head>
    <body>
    <div class="container">
        <div class="row">

            <div class="col-sm text-center">
                <h1 class="display-4" style="padding-bottom: 10%"><strong>The Die has been cast</strong></h1>

            </div>
        </div>

        <h3 class="display-4" style="padding-bottom: 5%"><strong>Your Guessed Number :@randomNumber</strong></h3>

        @if (randomNumber == winningNumber)
        {
            <div class="col-sm text-center">
                <h1 class="alert alert-success">You Won</h1>
            </div> }
        else
        {
            <h1 class="alert alert-danger">You Loose</h1>
            <h3 class="display-4" style="padding-bottom: 5%"><strong>Your Guess was @difference off</strong></h3>
        }


        <form role="form">

            <div class="form-group">
                <label for="name"> <h3 class="display-4"><strong>Please provide your feedback</strong></h3></label>
                <textarea class="form-control" rows="3"></textarea>
            </div>

        </form>
    </div>
    </body>
</html>